<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Linda</title>
    <link rel="stylesheet" href="../static/declaracao_style.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Declaração</h1>
        </div>
        <form action="/declaracao" method="POST">
            <fieldset>
                <div class="form-group">
                    <label for="elogio">Elogio</label>
                    <input type="text" id="elogio" name="elogio" class="form-control">
                </div>
                <div class="form-group">
                    <label for="qualidade">Qualidade</label>
                    <input type="text" id="qualidade" name="qualidade" class="form-control">
                </div>
                <div class="form-group">
                    <label for="texto_declaracao">Declaração</label>
                    <input type="text" id="texto_declaracao" name="texto_declaracao" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
            </fieldset>
        </form>
    </div>
    <p class="declaracao-text">
        Queria falar parabéns, não há palavras que demonstrem o quanto eu quero que você seja feliz e eu sei que vai,
        então tudo de bom e do melhor, felicidades, alegria, muita fé em Cristo, amor, vida financeira.. Eu sou seu maior fã
        e sempre vou ser, você é mais que incrível e eu admiro muito sua força, sua pessoa, tenho orgulho de você meu amor e sempre vou ter
        Você já é vitoriosa nessa vida e vai ser ainda mais, quero estar ao seu lado te vendo realizar seus maiores sonhos, te aplaudindo
        e também estar nos momentos ruins, te apoiando e dando forças. VOCÊ É MINHA MULHER E SEMPRE VAI SER, TE AMO INFINITAMENTE.
    </p>
</body>
</html>
